* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {width: 512px;
    background-color: rgb(4, 4, 105);
}

.group_chat{
    font-family: "Sigmar", sans-serif;
    text-align: center;
    color: white;
    margin-top: 70px;
    max-width: 500px;
    line-height: 1;
}

.first_p {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
    color: white;
    max-width: 500px;
}

.download {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
    color:black;
    max-width: 500px;
    border: solid;
    border-color: white;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.open_discord {
font-family: "DM Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
    color:white;
    max-width: 500px;
    border: none;
    background-color: rgb(7, 64, 149);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.container{
     border: none;
     border-radius: 20px;
     background-color: blueviolet;
     margin-top: 50px;
     padding: 50px;
}
  

.first_title {
     font-family: "Sigmar", sans-serif;
     color: white;
     line-height: 1;
     padding-left: 15px;
}

.second_p {
    font-family: "DM Sans", sans-serif;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
}

.video_demo {
    width: 340px;
    border-radius: 30px;
    margin-top: 15px;

}